/* Wufoo themes */
.wufoo input#saveForm {
	background-color: #00adef;
	color: white;
	padding: 5px 10px;
	border:none;
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
	color: #000000;
}

.wufoo li.focused {
	background-color: #fecb38;
}