$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower

@font-face {
	font-family: csregular;
	src: url('fonts/DaimlerCS-Regular.ttf');
}

@font-face {
	font-family: cacregular;
	src: url('fonts/DaimlerCACArab-Regular.ttf');
}

@font-face {
	font-family:"Electronic Highway Sign";
	src:url("fonts/EHSMB.eot?") format("eot"),
	url("fonts/EHSMB.woff") format("woff"),
	url("fonts/EHSMB.TTF") format("truetype"),
	url("fonts/EHSMB.svg#ElectronicHighwaySign") 
	format("svg");
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

.no-padding {
	padding: 0 !important;
}

a {
	font-family: csregular;
	color: #fff;
}

h1 {
	color: #fff;
}

h2 {
	color: #fff;
}

h3 {
	color: #fff;
}

li {
	color : #fff;
}

.video {
	margin-top: 25px;
	margin-bottom: 25px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
	padding-left: 15px;
	padding-right: 15px;	
}

.footer {
	margin-top: 50px;

	img {
		
	}
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 10px;

	/* Make the masthead heading the same height as the navigation */
	h3 {
		margin-top: 0;
		margin-bottom: 0;
		line-height: 40px;
		padding-bottom: 19px;
	}
}

/**
* Header nav 
*/
.header {
	border-bottom: unset;
}

.navbar {
	border-bottom: 1px solid #000;
}

ul.nav{
	list-style: none; 
	margin: 0; 
	padding: 10px 0;
	list-style-type: none;
	display: flex;
	text-align: center;
	width: 100%;
}

.selected {
	color: #fff !important;
}

.scrolled ul.nav{
	position: fixed; 
	z-index: 2;
	top: 0; 
	right: 0; 
	left: 0; 
	background-color: #000; 
	opacity: 1;
}

ul.nav li{
	padding: 0; 
	display: inline;
	width: -webkit-fill-available;
}

ul.nav li a{
	display: block; 
	text-decoration: none;
	line-height: 30px; 
	padding: 5px 0; 
	margin: 0 4px; 
	font-size: 30px;
	color: #fff;
	display: inline-block;
	font-family: cacregular;
}

ul.nav li.selected a{
	color: #00adef;
}

ul.nav li a:hover{
	text-decoration: none; 
	color: #fecb38;
	background-color: unset;
}

ul.nav li a:focus{
	background-color: unset;
}

.icon-bar {
	background-color: #000000;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
	margin: 30px 0;
}

/** 
Content
**/

.programText {
	p {
		font-size: 18px;
	}
}

.faq {
	text-align: center;
}

.topMargin {
	margin-top: 25px;
}

.margin-right-78 {
	margin-right: 78px;
}

.margin-right-20 {
	margin-right: 20px;
}

hr {
	border-top: 1px solid #000;
}

/** 
Footer
**/
.footer {
	border-top: unset;
}

@media (max-width: 767px) {

	ul.nav {
		display: grid;
	}

	.mobileTopMargin {
		margin-top: 30px;
	}

	.margin-right-78 {
		display: -webkit-box;
	}

	.margin-right-20 {
		display: -webkit-box;
	}
}

//Fra tilmeldingsside

body {
	background-color: #000;
	//font-family: "csregular", Arial;
	font-size: 16px;
}

p, li {
	font-family: "csregular", Arial;
	font-size: 16px;
	color : #fff;
}

h1, h2, h3 {
	font-family: cacregular, Arial;
	font-weight: bold;
	margin-bottom: 0px;
}
h3 {
	font-size: 1.55em;
}

a {
	color: #fecb38;
}

.slogan {
	position:  absolute; 
	bottom: 0; 
	right: 0; 
	padding-right: 15px; 
	padding-bottom: 10px;
	width:133px;
}

.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.background {
	background-image: url(../images/background.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 2000px;
}

.craalogo {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-top:-350px;
}

.mainContent {
	margin-top: -50px;
}


@media (max-width: 575.98px) { 
	.craalogo {
		margin-top:-150px;
	}

	.mainContent {
		margin-top: 0px;
	}
}

@media (min-width: 575.98px) { 
	.craalogo {
		margin-top:-150px;
	}

	.mainContent {
		margin-top: -20px;
	}
}

@media (min-width: 767.98px) { 
	.craalogo {
		margin-top:-250px;
	}

	.mainContent {
		margin-top: -30px;
	}
}

@media (min-width: 991.98px) { 
	.craalogo {
		margin-top:-300px;
	}
}

@media (min-width: 1199.98px) { 
	.craalogo {
		margin-top:-300px;
	}
}

@media (max-width: 575.98px) { 
	.craalogo {
		margin-top:-150px;
	}

	.mainContent {
		margin-top: 0px;
	}
}


.wufooContainer {
	margin-right: -8px;
	margin-left: -8px;
}

.dashboardImage {
	width:100%;
	padding-bottom:20px;
}


#counter {
	font-family:"Electronic Highway Sign", Arial;
	color:#fecb38 ;
	font-size:72px;
}

.timestamp {
	color: #fecb38;
	font-family:"Electronic Highway Sign", Arial;
}

ul.navbar-nav {
	text-align:center;
	width:100%;
	margin-right:0;
	margin-left:0;
}
ul.navbar-nav li:first-child{
	text-align:left;
}

ul.navbar-nav li:last-child{
	text-align:right;
}

@media (max-width: 767.98px) {
	ul.navbar-nav li {
		text-align:center!important;
		width:100%;
	}
}


li.nav-item {
	display: block; 
	text-decoration: none;
	line-height: 30px; 
	padding: 5px 0; 
	margin: 0 0px; 
	font-size: 22px;
	color: #fff;
	display: inline-block;
	font-family: cacregular;
	width:33%
}

li.nav-item a {
	color: #fff;
}

li.nav-item a.selected {
	color: #fecb38 !important;
}

.navbar {
	border-radius: 0px;
	border:0;
	z-index: 999;
	width:100%;
	padding-left: 0;
	padding-right: 0;
}
.navbar-toggler {
	margin-right:auto;
	margin-left:auto;
}

.programContainer p span {
	width:200px;
}

@media (max-width: 767.98px) { 
	#counter {
		font-size: 36px;
	}
}

@media (max-width: 767.98px) {
	/*Smartphones*/
	h1 {
		font-size: 32px;
		padding-bottom: 32px;
	}

	h2 {
		font-size: 24px;
		padding-bottom: 25px;
	}

	h3 {
		font-size: 20px;
		/*padding-bottom: 25px;*/
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	/*Tablets*/
	h1 {
		font-size: 36px;
		padding-bottom: 32px;
	}

	h2 {
		font-size: 28px;
		padding-bottom: 25px;
	}

	h3 {
		font-size: 22px;
		/*padding-bottom: 25px;*/
	}
}

@media (min-width: 992px) { 
	/*Desktop*/
	h1 {
		font-size: 40px;
		padding-bottom: 32px;
	}

	h2 {
		font-size: 32px;
		padding-bottom: 32px;
	}

	h3 {
		font-size: 22px;
		/*padding-bottom: 16px;*/
	}
}