<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		
	</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link type="image/x-icon" rel="shortcut icon" href="images/favicon.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>
<body ng-app="mercedesApp" ng-controller="MainController">
	<!--[if lte IE 8]>
		Du bruger en virkelig gammel browser! Vi anbefaler du opdatere!
	<![endif]-->

	<!-- Add your site or application content here -->
	<div class="header">
		<img src="images/logo.png" class="img-fluid float-left;" style="margin-top: 20px;">

		<img src="images/slogan.png" class="img-fluid float-right" style="float: right; margin-top: 25px; height: 70px;">
	</div>

	<nav class="navbar">
		<div class="navbar-header">
			<!-- <a class="navbar-brand" href="#">
				<img src="images/favicon-32x32.png">
			</a> -->

			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar">
				</span>

				<span class="icon-bar">
				</span>
				
				<span class="icon-bar">
				</span>
			</button>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
					<a href="#!/forside" ng-click="selectPage('forside');" ng-class="{selected : page == 'forside'}">
						Forside
					</a>
				</li>
				<li>
					<a href="#!/program" ng-click="selectPage('program');" ng-class="{selected : page == 'program'}">
						Program
					</a>
				</li>
				<li>
					<a href="#!/info" ng-click="selectPage('information');" ng-class="{selected : page == 'information'}">
						Info
					</a>
				</li>
				<li>
					<a href="#!/oversigt" ng-click="selectPage('oversigt');" ng-class="{selected : page == 'oversigt'}">
						Kort
					</a>
				</li>
				<li>
					<a href="#!/faq" ng-click="selectPage('faq');" ng-class="{selected : page == 'faq'}">
						FAQ
					</a>
				</li>
				<!-- 
					Skal først bruges efter første event
				<li>
					<a href="#!/galleri" ng-click="selectPage('galleri');" ng-class="{selected : page == 'galleri'}">
						Galleri
					</a>
				</li> -->
			</ul>
		</div>			
	</nav>

	<div class="container content">
		<div class="col-md-12 no-padding" ng-view>

		</div>
	</div>

	<div class="footer" style="padding: 0px;">
		<img src="images/bund_banner.png" class="img-fluid" style="max-width: 100%; height: auto; width: -webkit-fill-available;">
	</div>

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/controllers/mapOverview.js"></script>
	<script src="scripts/controllers/program.js"></script>
	<script src="scripts/controllers/practicalInformation.js"></script>
	<script src="scripts/controllers/faq.js"></script>
	<!-- endbuild -->
</body>
</html>
