<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>
		
	</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link type="image/x-icon" rel="shortcut icon" href="images/favicon.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- build:css(.) styles/vendor.css -->
	<!-- bower:css -->
	<!-- endbower -->
	<!-- endbuild -->
	<!-- build:css(.tmp) styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->
</head>
<body ng-app="mercedesApp" ng-controller="MainController">
	<!--[if lte IE 8]>
		Du bruger en virkelig gammel browser! Vi anbefaler du opdatere!
	<![endif]-->

	<div class="container">
		<div class="row pt-3 pb-3">
			<div class="col-sm-8 offset-sm-2">
				<div class="row">
					<div class="col-4">
						<img src="images/logo.png" class="img-fluid"/>
					</div>
				
					<div class="col-8">
						<img src="images/slogan.png" class="img-fluid slogan"/>
					</div>
				</div>

				<div class="row">
					<nav class="navbar navbar-expand-sm navbar-dark pt-5 pb-3">
						<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent">
							<span class="navbar-toggler-icon">
							</span>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent" style="box-shadow: unset;">
							<ul class="navbar-nav mr-auto">
								<li class="nav-item"> 
									<a href="#!/forside" ng-click="selectPage('forside');" ng-class="{selected : page == 'forside'}">
										Forside
									</a>
								</li>
								<li class="nav-item">
									<a href="#!/program" ng-click="selectPage('program');" ng-class="{selected : page == 'program'}">
										Program
									</a>
								</li class="nav-item">
								<li class="nav-item">
									<a href="#!/info" ng-click="selectPage('info');" ng-class="{selected : page == 'info'}">
										Info
									</a>
								</li>
							</ul>
						</div>			
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div class="container content" ng-view>
	</div>

	<div class="container">
		<div class="row backgroundRow">
			<div class="col">
				<div class="row pt-4">
					<div class="col pt-5 text-center">
						<!-- <img src="images/logobund.png"/> -->
						<p class="pt-3">Ankommer om</p>
						<p><span id="counter">00;00;00;00</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<img src="images/footer.png" class="img-fluid" style="width: 100%;">

	<!-- build:js scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-aria/angular-aria.js"></script>
	<script src="bower_components/angular-cookies/angular-cookies.js"></script>
	<script src="bower_components/angular-messages/angular-messages.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<!-- endbower -->
	<!-- endbuild -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<script src="scripts/controllers/mapOverview.js"></script>
	<script src="scripts/controllers/program.js"></script>
	<script src="scripts/controllers/practicalInformation.js"></script>
	<script src="scripts/controllers/faq.js"></script>
	<!-- endbuild -->


	<script type="text/javascript">
		var countDownDate = new Date("May 26, 2018 07:30:00").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get todays date and time
  var now = new Date().getTime();

  // Find the distance between now an the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  /*document.getElementById("demo").innerHTML = days + "d " + hours + "h "
  + minutes + "m " + seconds + "s ";*/
  var dayString;
  var hourString;
  var minuteString;
  var secondString;

  if(days < 10){
  	dayString = "0" + days;
  } else {
  	dayString = days;
  }
  if(hours < 10){
  	hourString = "0" + hours;
  } else {
  	hourString = hours;
  }
  if(minutes < 10){
  	minuteString = "0" + minutes;
  } else {
  	minuteString = minutes;
  }
  if(seconds < 10){
  	secondString = "0" + seconds;
  } else {
  	secondString = seconds;
  }


  document.getElementById("counter").innerHTML = dayString + ";" + hourString + ";" + minuteString + ";" + secondString;

  // If the count down is finished, write some text 
  if (distance < 0) {
  	clearInterval(x);
  	document.getElementById("counter").innerHTML = "00;00;00;00";
  }
}, 1000);
</script>


</body>
</html>
