<div class="col-md-12">
	<div class="row no-padding">
		<h1>
			FAQ.
		</h1>

		<p>
			Her finder du svar på de ofte stillede spørgsmål om arrangementet. Kan du ikke finde svar på dit spørgsmål her, er du velkommen til at skrive til 
			
			<a href="mailto:hangar@mercedes-benz-sprinter.dk">
				hangar@mercedes-benz-sprinter.dk
			</a>

			.
		</p>
	</div>

	<div class="row no-padding topMargin">
		<h3>
			Hvor kan jeg parkere?
		</h3>

		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
		</p>
	</div>

	<div class="row no-padding topMargin">
		<h3>
			Hvordan booker jeg en prøvekørsel?
		</h3>

		<p>
			Når du tilmelder dig, kan du booke en prøvekørsel. Der er et begrænset antal pladser, og vi tildeler dem efter først-til-mølle-princippet. Vi giver dig besked om, du har fået en tid til prøvekørslen, når du får tilsendt din billet (har du allerede tilmeldt dig arrangementet uden at booke en prøvekørsel, så skriv til 

			<a href="mailto:hangar@mercedes-benz-sprinter.dk">
				hangar@mercedes-benz-sprinter.dk
			</a>

			, og vi vil se om der er en ledig tid).
		</p>
	</div>

	<div class="row no-padding topMargin">
		<h3>
			Hvad gør jeg hvis jeg har glemt min billet?
		</h3>

		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
		</p>
	</div>

	<div class="row no-padding topMargin">
		<h3>
			Hvordan framelder jeg mig? 
		</h3>

		<p>
			Er du blevet forhindret i at deltage, efter du har tilmeldt dig, beder vi dig sende en mail til 
			<a href="mailto:hangar@mercedes-benz-sprinter.dk">
				hangar@mercedes-benz-sprinter.dk
			</a>

			med ”Afbud” i emnefeltet. 
			
			<br/>

			I mailen skriver du dit navn, e-mail og om du har booket en prøvekørsel. 
		</p>
	</div>
</div>