<div class="col-md-12">
	<div class="row no-padding">
		<h1>
			FAQ.
		</h1>
	</div>

	<div class="row no-padding topMargin">
		<h2>
			Hvad går arrangementet ud på?
		</h2>

		<hr/>

		<p>

			I forbindelse med Classic Race Aarhus lancerer Mercedes-Benz den ny Sprinter. I løbet af lørdag d. 26. og søndag d. 27. maj kan du opleve race af højeste kvalitet samtidig med at blive klogere på den ny Sprinter. 

		</p>

		<p>Se det officielle raceprogram her <a href="http://www.craa.dk/race/loebsprogram/" target="_blank">craa.dk/race/loebsprogram/</a>

		</p><p>Læs mere om det officielle Classic Race Aarhus aktiviteterne her <a href="http://www.craa.dk/aktiviteter" target="_blank">craa.dk/aktiviteter</a>.

		</p>
	</div>

	<div class="row no-padding topMargin">
		<h2>
			Hvornår starter arrangementet?
		</h2>

		<hr/>

		<p>
			<a href="http://www.mercedes-benz-sprinter.dk/craa/#!/program">Se her, </a> hvad der kommer til at foregå, hvornår i løbet af de to dage. 
		</p>
	</div>

	<div class="row no-padding topMargin">
		<h2>
			Hvordan får jeg adgang til CRAA?
		</h2>

		<hr/>

		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
		</p>
	</div>

	<div class="row no-padding topMargin">
		<h2>
			Hvor ligger Mercedes-Benz VIP-lounge?
		</h2>

		<hr/>

		<p>
			Du kan <a href="http://www.mercedes-benz-sprinter.dk/craa/#!/oversigt">se her</a> hvor Mercedes-Benz VIP-lounge ligger. 
		</p>
	</div>

	<div class="row no-padding topMargin">
		<h2>
			Mad og drikke
		</h2>

		<hr/>

		<p>
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat
		</p>
	</div>

	<div class="row no-padding topMargin">
		<h2>
			Hvor kan jeg parkere?
		</h2>

		<hr/>

		<p>
			Når du tilmelder dig kan du ønske en parkeringsplads i det reserverede parkeringsområde for Mercedes-Benz VIP-gæster. <a href="http://www.mercedes-benz-sprinter.dk/craa/#!/oversigt">Se på kortet</a> hvor det er. Yderligere kan du parkere på havnen, hvor du kan tage en shuttle bus op til hovedindgangen til CRAA pladsen. 
		</p>
	</div>

	<div class="row no-padding topMargin">
		<h2>
			Toiletfaciliteter
		</h2>

		<hr/>

		<p>
			Orienter dig på <a href="http://www.mercedes-benz-sprinter.dk/craa/#!/oversigt">kortet her</a>, for at se hvor du finder de nærmeste toiletfaciliteter. Det er også indikeret på kortet hvor du finder handicapvenlige faciliteter.
		</p>
	</div>

	<div class="row no-padding topMargin">
		<h2>
			Førstehjælp
		</h2>

		<hr/>

		<p>
			Skulle uheldet være ude er der samaritter på pladsen – klar til at tage sig af dig.
		</p>
	</div>

	<div class="row no-padding topMargin">
		<h2>
			Hvordan framelder jeg mig?
		</h2>

		<hr/>

		<p>
			Er du blevet forhindret i at deltage, efter du har tilmeldt dig, beder vi dig sende en mail til <a href="mailto:craa@mercedes-benz-sprinter.dk">craa@mercedes-benz-sprinter.dk</a> med ”Afbud” i emnefeltet. 

			I mailen skriver du dit navn, email, hvilken dag du har tilmeldt dig og om du har booket en parkeringsplads.

		</p>
	</div>
</div>