<div class="row">
	<div class="col-sm-8 offset-sm-2">
		<div class="row mainContent">
			<div class="col-12 mb-5">
				<h1>Tak for sidst.</h1>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe src="https://player.vimeo.com/video/275058440" width="640" height="360" frameborder="0" allowfullscreen></iframe>
				</div>	
			</div>
			<div class="col-12 mt-5">

				<a name="galleri"></a>
				<h1>Galleri.</h1>

				<div id="lightgallery">
					<a href="images/gallery/img0001.png"><img src="images/gallery/img0001_thumb.png"></a>
					<a href="images/gallery/img0002.png"><img src="images/gallery/img0002_thumb.png"></a>
					<a href="images/gallery/img0003.png"><img src="images/gallery/img0003_thumb.png"></a>
					<a href="images/gallery/img0004.png"><img src="images/gallery/img0004_thumb.png"></a>
					<a href="images/gallery/img0005.png"><img src="images/gallery/img0005_thumb.png"></a>
					<a href="images/gallery/img0006.png"><img src="images/gallery/img0006_thumb.png"></a>
					<a href="images/gallery/img0007.png"><img src="images/gallery/img0007_thumb.png"></a>
					<a href="images/gallery/img0008.png"><img src="images/gallery/img0008_thumb.png"></a>
					<a href="images/gallery/img0009.png"><img src="images/gallery/img0009_thumb.png"></a>
					<a href="images/gallery/img0010.png"><img src="images/gallery/img0010_thumb.png"></a>
					<a href="images/gallery/img0011.png"><img src="images/gallery/img0011_thumb.png"></a>
					<a href="images/gallery/img0012.png"><img src="images/gallery/img0012_thumb.png"></a>
					<a href="images/gallery/img0013.png"><img src="images/gallery/img0013_thumb.png"></a>
					<a href="images/gallery/img0014.png"><img src="images/gallery/img0014_thumb.png"></a>
					<a href="images/gallery/img0015.png"><img src="images/gallery/img0015_thumb.png"></a>
					<a href="images/gallery/img0016.png"><img src="images/gallery/img0016_thumb.png"></a>
					<a href="images/gallery/img0017.png"><img src="images/gallery/img0017_thumb.png"></a>
					<a href="images/gallery/img0018.png"><img src="images/gallery/img0018_thumb.png"></a>
					<a href="images/gallery/img0019.png"><img src="images/gallery/img0019_thumb.png"></a>
					<a href="images/gallery/img0020.png"><img src="images/gallery/img0020_thumb.png"></a>
					<a href="images/gallery/img0021.png"><img src="images/gallery/img0021_thumb.png"></a>
					<a href="images/gallery/img0022.png"><img src="images/gallery/img0022_thumb.png"></a>
					<a href="images/gallery/img0023.png"><img src="images/gallery/img0023_thumb.png"></a>
					<a href="images/gallery/img0024.png"><img src="images/gallery/img0024_thumb.png"></a>
					<a href="images/gallery/img0025.png"><img src="images/gallery/img0025_thumb.png"></a>
					<a href="images/gallery/img0026.png"><img src="images/gallery/img0026_thumb.png"></a>
					<a href="images/gallery/img0027.png"><img src="images/gallery/img0027_thumb.png"></a>
					<a href="images/gallery/img0028.png"><img src="images/gallery/img0028_thumb.png"></a>
					<a href="images/gallery/img0029.png"><img src="images/gallery/img0029_thumb.png"></a>
					<a href="images/gallery/img0030.png"><img src="images/gallery/img0030_thumb.png"></a>
					<a href="images/gallery/img0031.png"><img src="images/gallery/img0031_thumb.png"></a>
					<a href="images/gallery/img0032.png"><img src="images/gallery/img0032_thumb.png"></a>
					<a href="images/gallery/img0033.png"><img src="images/gallery/img0033_thumb.png"></a>
					<a href="images/gallery/img0034.png"><img src="images/gallery/img0034_thumb.png"></a>
					<a href="images/gallery/img0035.png"><img src="images/gallery/img0035_thumb.png"></a>
					<a href="images/gallery/img0036.png"><img src="images/gallery/img0036_thumb.png"></a>
					<a href="images/gallery/img0037.png"><img src="images/gallery/img0037_thumb.png"></a>
					<a href="images/gallery/img0038.png"><img src="images/gallery/img0038_thumb.png"></a>
					<a href="images/gallery/img0039.png"><img src="images/gallery/img0039_thumb.png"></a>
					<a href="images/gallery/img0040.png"><img src="images/gallery/img0040_thumb.png"></a>
					<a href="images/gallery/img0041.png"><img src="images/gallery/img0041_thumb.png"></a>
					<a href="images/gallery/img0042.png"><img src="images/gallery/img0042_thumb.png"></a>
					<a href="images/gallery/img0043.png"><img src="images/gallery/img0043_thumb.png"></a>
					<a href="images/gallery/img0044.png"><img src="images/gallery/img0044_thumb.png"></a>
					<a href="images/gallery/img0045.png"><img src="images/gallery/img0045_thumb.png"></a>
					<a href="images/gallery/img0046.png"><img src="images/gallery/img0046_thumb.png"></a>
					<a href="images/gallery/img0047.png"><img src="images/gallery/img0047_thumb.png"></a>
					<a href="images/gallery/img0048.png"><img src="images/gallery/img0048_thumb.png"></a>
					<a href="images/gallery/img0049.png"><img src="images/gallery/img0049_thumb.png"></a>
					<a href="images/gallery/img0050.png"><img src="images/gallery/img0050_thumb.png"></a>
					<a href="images/gallery/img0051.png"><img src="images/gallery/img0051_thumb.png"></a>
					<a href="images/gallery/img0052.png"><img src="images/gallery/img0052_thumb.png"></a>
					<a href="images/gallery/img0053.png"><img src="images/gallery/img0053_thumb.png"></a>
					<a href="images/gallery/img0054.png"><img src="images/gallery/img0054_thumb.png"></a>
					<a href="images/gallery/img0055.png"><img src="images/gallery/img0055_thumb.png"></a>
					<a href="images/gallery/img0056.png"><img src="images/gallery/img0056_thumb.png"></a>
					<a href="images/gallery/img0057.png"><img src="images/gallery/img0057_thumb.png"></a>
					<a href="images/gallery/img0058.png"><img src="images/gallery/img0058_thumb.png"></a>
					<a href="images/gallery/img0059.png"><img src="images/gallery/img0059_thumb.png"></a>
					<a href="images/gallery/img0060.png"><img src="images/gallery/img0060_thumb.png"></a>
					<a href="images/gallery/img0061.png"><img src="images/gallery/img0061_thumb.png"></a>
					<a href="images/gallery/img0062.png"><img src="images/gallery/img0062_thumb.png"></a>
					<a href="images/gallery/img0063.png"><img src="images/gallery/img0063_thumb.png"></a>
					<a href="images/gallery/img0064.png"><img src="images/gallery/img0064_thumb.png"></a>
					<a href="images/gallery/img0065.png"><img src="images/gallery/img0065_thumb.png"></a>
					<a href="images/gallery/img0066.png"><img src="images/gallery/img0066_thumb.png"></a>
					<a href="images/gallery/img0067.png"><img src="images/gallery/img0067_thumb.png"></a>
					<a href="images/gallery/img0068.png"><img src="images/gallery/img0068_thumb.png"></a>
					<a href="images/gallery/img0069.png"><img src="images/gallery/img0069_thumb.png"></a>
					<a href="images/gallery/img0070.png"><img src="images/gallery/img0070_thumb.png"></a>
					<a href="images/gallery/img0071.png"><img src="images/gallery/img0071_thumb.png"></a>
					<a href="images/gallery/img0072.png"><img src="images/gallery/img0072_thumb.png"></a>
					<a href="images/gallery/img0073.png"><img src="images/gallery/img0073_thumb.png"></a>
					<a href="images/gallery/img0074.png"><img src="images/gallery/img0074_thumb.png"></a>
					<a href="images/gallery/img0075.png"><img src="images/gallery/img0075_thumb.png"></a>
					<a href="images/gallery/img0076.png"><img src="images/gallery/img0076_thumb.png"></a>
					<a href="images/gallery/img0077.png"><img src="images/gallery/img0077_thumb.png"></a>
					<a href="images/gallery/img0078.png"><img src="images/gallery/img0078_thumb.png"></a>
					<a href="images/gallery/img0079.png"><img src="images/gallery/img0079_thumb.png"></a>
					<a href="images/gallery/img0080.png"><img src="images/gallery/img0080_thumb.png"></a>
					<a href="images/gallery/img0081.png"><img src="images/gallery/img0081_thumb.png"></a>
					<a href="images/gallery/img0082.png"><img src="images/gallery/img0082_thumb.png"></a>
					<a href="images/gallery/img0083.png"><img src="images/gallery/img0083_thumb.png"></a>
					<a href="images/gallery/img0084.png"><img src="images/gallery/img0084_thumb.png"></a>
					<a href="images/gallery/img0085.png"><img src="images/gallery/img0085_thumb.png"></a>
					<a href="images/gallery/img0086.png"><img src="images/gallery/img0086_thumb.png"></a>
					<a href="images/gallery/img0087.png"><img src="images/gallery/img0087_thumb.png"></a>
					<a href="images/gallery/img0088.png"><img src="images/gallery/img0088_thumb.png"></a>
					<a href="images/gallery/img0089.png"><img src="images/gallery/img0089_thumb.png"></a>
					<a href="images/gallery/img0090.png"><img src="images/gallery/img0090_thumb.png"></a>
					<a href="images/gallery/img0091.png"><img src="images/gallery/img0091_thumb.png"></a>
					<a href="images/gallery/img0092.png"><img src="images/gallery/img0092_thumb.png"></a>
					<a href="images/gallery/img0093.png"><img src="images/gallery/img0093_thumb.png"></a>
					<a href="images/gallery/img0094.png"><img src="images/gallery/img0094_thumb.png"></a>
					<a href="images/gallery/img0095.png"><img src="images/gallery/img0095_thumb.png"></a>
					<a href="images/gallery/img0096.png"><img src="images/gallery/img0096_thumb.png"></a>
					<a href="images/gallery/img0097.png"><img src="images/gallery/img0097_thumb.png"></a>
					<a href="images/gallery/img0098.png"><img src="images/gallery/img0098_thumb.png"></a>
					<a href="images/gallery/img0099.png"><img src="images/gallery/img0099_thumb.png"></a>
					<a href="images/gallery/img0100.png"><img src="images/gallery/img0100_thumb.png"></a>
					<a href="images/gallery/img0101.png"><img src="images/gallery/img0101_thumb.png"></a>
					<a href="images/gallery/img0102.png"><img src="images/gallery/img0102_thumb.png"></a>
					<a href="images/gallery/img0103.png"><img src="images/gallery/img0103_thumb.png"></a>
					<a href="images/gallery/img0104.png"><img src="images/gallery/img0104_thumb.png"></a>
					<a href="images/gallery/img0105.png"><img src="images/gallery/img0105_thumb.png"></a>
					<a href="images/gallery/img0106.png"><img src="images/gallery/img0106_thumb.png"></a>
					<a href="images/gallery/img0107.png"><img src="images/gallery/img0107_thumb.png"></a>
					<a href="images/gallery/img0108.png"><img src="images/gallery/img0108_thumb.png"></a>
				</div>
			</div>
		</div>
	</div>
</div>