<div class="col-md-12">
	<div class="col-md-12 no-padding">
		<h1>
			Velkommen til. 
		</h1>
	</div>

	<div class="col-md-12 topMargin no-padding">
		<p>
			Velkommen til Classic Race Aarhus 2018 og lanceringen af den ny Sprinter i vores eksklusive VIP-loungeområde. 

			<br/>
			
			Her på siden finder du praktiske informationer om parkering, adgang og programmet for dagen. 
		</p>
	</div>

	<div class="embed-responsive embed-responsive-16by9 col-md-12 topMargin">
		<!-- ?autoplay=1 -->
		<iframe src="https://player.vimeo.com/video/260537765" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
		</iframe>
	</div>
</div>