<div class="row">
	<div class="col-sm-8 offset-sm-2">
		<div class="row mainContent">
			<div class="col">
				<h1>
					Velkommen til. 
				</h1>		
				
				<p>
					Velkommen til Vilhelm Lauritzen Terminal og lanceringen af den ny Sprinter i eksklusive omgivelser. 

					<br>
					
					Her på siden finder du praktiske informationer om parkering, adgang og programmet for aftenen.
				</p>

				<div class="col-md-12 no-padding" style="margin-top: 40px;">
					<img src="images/flytavle.png" class="img-fluid" style="max-width: 100%; height: auto; width: inherit;">
				</div>
				<div class="embed-responsive embed-responsive-16by9 mt-5 pt-5">
					<iframe src="https://player.vimeo.com/video/272781418" width="640" height="360" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>