<div class="row">
	<div class="col-sm-8 offset-sm-2">
		<div class="row mainContent">
			<div class="col">
				<h1>
					Velkommen til. 
				</h1>		
				<p>
					Velkommen til Classic Race Aarhus 2018 og lanceringen af den ny Sprinter i vores eksklusive VIP-loungeområde. 

					<br/>

					Her på siden finder du praktiske informationer om parkering, adgang og programmet for dagen. 
				</p>

				<br>

				<img src="images/dashboard.png" class="img-fluid" style="width:100%">
			</div>
		</div>
	</div>
</div>