<div class="col-md-12">
	<div class="col-md-12 no-padding">
		<h1>
			Kort.
		</h1>
	</div>

	<div class="col-md-12 no-padding topMargin">
		<img src="images/flytavle.png" class="img-fluid" style="max-width: 100%; height: auto; width: inherit;">
	</div>

	<div class="col-md-12 no-padding topMargin">
		<!-- Map 1 -->
		<div class="col-md-6" style="padding-left: 0px;">
			<img src="images/mapImage1.png" class="img-responsive">
		</div>

		<!-- Map 2 -->
		<div class="col-md-6 mobileTopMargin" style="padding-right: 0px;">
			<img src="images/mapImage2.png" class="img-responsive">
		</div>
	</div>		
</div>