<div class="row">
	<div class="col-sm-8 offset-sm-2">
		<div class="row mainContent">
			<div class="col">


				<h1>
					Praktisk Info.
				</h1>

				<br><h3>
					Mercedes-Benz VIP-lounge.
				</h3>
				<p>
					<a href="http://www.craa.dk/kort/" target="_blank">
						Du kan se her, hvor Mercedes-Benz VIP-lounge ligger. 
					</a>
				</p>

				<br><h3>
					Billetter og adgang.
				</h3>
				<p>
					Når du tilmelder dig arrangementet, modtager du efterfølgende en bekræftelse på mail. Senest 2 dage før arrangementet modtager du din billet på mail. 
				</p>
				<p>
					Ved ankomst til Classic Race Aarhus skal du fremvise din billet enten på print eller mobil, hvorefter du vil få et Classic Race Aarhus armbånd på. Alle indgange kan benyttes. 
				</p>

				<p>
					Ved indgangen til Mercedes-Benz VIP-lounge i Mindeparken får du, ved fremvisning af din billet på print eller mobil, udleveret dit armbånd til Mercedes- Benz VIP-lounge.
				</p>
				<p>
					Husk derfor, at du skal bruge din billet 2 gange og får 2 armbånd udleveret. 
				</p>

				<br><h3>
					Parkering.
				</h3>
				<p>
					De første 250 tilmeldte har mulighed for at reservere en gratis p-plads på Honnørkajen, Aarhus C, med efterfølgende Mercedes- Benz shuttle bus til hovedindgangen. Mere info herom kommer efter tilmelding. 
				</p>
				<p>
					Derudover stiller Classic Race Aarhus gratis parkering til rådighed på følgende områder: 
					<br>
					<ul>
						<li>
							Balticagade ved Mindet, hvorfra der kører Classic Race Aarhus shuttle bus til hovedindgangen.
						</li>
						<li>
							2500 pladser på Væddeløbsbanen (Benyt indgangen ved Marselisborg Slot)
						</li>
						<li>
							Østerhavnsvej (Benyt hovedindgangen)
						</li>
					</ul>
				</p>

				<br><h3>
					Madallergener og præferencer. 
				</h3>
				<p>
					Ved tilmelding angiver du, om du har særlige madallergener eller præferencer. Disse vil fremgå på din billet, når du modtager den. 
				</p>
				<p>
					Under arrangementet vil der i madteltet i Mercedes-Benz VIP-lounge være skiltet med, hvor din mad udleveres.
				</p>
				<br><h3>
					Framelding. 
				</h3>
				<p>
					Er du blevet forhindret i at deltage, efter du har tilmeldt dig, vil vi meget gerne give muligheden videre til en anden.  
				</p>
				<p>
					Derfor bedes du sende en mail til craa@mercedes-benz-sprinter.dk med ”Afbud” i emnefeltet. I mailen skriver du dit navn og e-mail, hvilken dag du har tilmeldt dig og om du har reserveret en parkeringsplads. 
				</p>

				<br><h3>
					Toiletfaciliteter. 
				</h3>
				<p>
					<a href="http://www.craa.dk/kort/" target="_blank">
						Orienter dig på kortet her
					</a> 
					for at se, hvor du finder de nærmeste toiletfaciliteter. Det er også indikeret på kortet, hvor du finder handicapvenlige faciliteter.
				</p>

				<br><h3>
					Førstehjælp. 
				</h3>
				<p>
					Skulle uheldet være ude, er der samaritter på pladsen – klar til at tage sig af dig.
				</p>

				<br><h3>
					Spørgsmål. 
				</h3>
				<p>
					Eventuelle spørgsmål kan rettes til 
					<a href="mailto:craa@mercedes-benz-sprinter.dk" target="_blank">
						craa@mercedes-benz-sprinter.dk
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
