<div class="row">
	<div class="col-sm-8 offset-sm-2">
		<div class="row mainContent">
			<div class="col">
				<h1>
					Praktisk Info.
				</h1>

				<img src="images/flytavle.png" class="topMarign pt-1 pb-5" style="width: 100%">

				<br><h3>
					Billetter.
				</h3>
				<p>
					Når du tilmelder dig arrangementet, modtager du efterfølgende en bekræftelse på mail. Senest 2 dage før eventen modtager du din billet på mail. 
				</p>
				<p>
					Ved ankomst til Vilhelm Lauritzen Terminal skal du forvise din billet ved indgangen enten på print eller på mobil.
				</p>

				<br><h3>
					Prøvekørsel.
				</h3>
				<p>
					Ved tilmelding kan du booke en prøvekørsel i den ny Sprinter. Der er et begrænset antal pladser, og vi tildeler dem efter først-til-mølle-princippet. Du får besked om din tid for prøvekørsel, når du får tilsendt din billet. 
				</p>
				<p>
					Har du allerede tilmeldt dig arrangementet uden at booke en prøvekørsel - skriv til <a href="mailto:hangar@mercedes-benz-sprinter.dk">hangar@mercedes-benz-sprinter.dk</a>, og vi vil se, om der er en ledig tid eller sætte dig på venteliste. 
				</p>
				<p>
					(OBS. medarbejdere ved Mercedes-Benz kan ikke booke en prøvekørsel denne dag.)
				</p>
				<p>
					Du er selv ansvarlig for at overholde glædende lovgivning omkring spirituskørsel.
				</p>

				<br><h3>
					Madallergener og præferencer. 
				</h3>
				<p>
					Ved tilmelding angiver du, om du har en særlig madallergi eller præference. Dette vil fremgå på din billet, når du modtager den.
				</p>
				<p>
					Under arrangementet skal du henvende dig til en tjener for at få serveret din mad.
				</p>

				<br><h3>
					Parkering. 
				</h3>
				<p>
					Der er følgende gratis parkeringsmuligheder:
					<br>
					<ul>
						<li>
							Foran Vilhelm Lauritzen Terminal
						</li>
						<li>
							Langs Amager Landevej i begge retninger
						</li>
					</ul>
				</p>

				<br><h3>
					Framelding.
				</h3>
				<p>
					Er du blevet forhindret i at deltage, efter du har tilmeldt dig, beder vi dig sende en mail til 
					<a href="mailto:hangar@mercedes-benz-sprinter.dk?subject=Afbud">hangar@mercedes-benz-sprinter.dk</a> med ”Afbud” i emnefeltet. I mailen skriver du dit navn, e-mail og om du har booket en prøvekørsel. 
				</p>
			</div>
		</div>
	</div>
</div>
