<div class="row">
	<div class="col-sm-8 offset-sm-2">
		<div class="row mainContent">
			<div class="col programContainer">
				<h1>
					Program i VIP-lounge.
				</h1>

				<div class="row">
					<div class="col-3">
						<p>Kl. 07.30</p>
					</div>
					<div class="col-9">
						<p>Døre til pladsen åbner.</p>
						<p>
							Alle indgange til Classic Race Aarhus kan benyttes. Du skal blot fremvise din tilsendte billet både ved indgangen til pladsen og ved indgangen til Mercedes-Benz VIP-lounge.
						</p>
					</div>
				</div>


				<div class="row mt-3">
					<div class="col-3">
						<p>Kl. 09.00</p>
					</div>
					<div class="col-9">
						<p>VIP-lounge åbner.</p>
						<p>
							Fremvis din billet ved indgangen til VIP-lounge og få et særligt VIP-armbånd. 
							<br>
							<a href="http://www.craa.dk/kort/" target="_blank">Se hvor loungen ligger her</a>.
						</p>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-3">
						<p>Kl. 09.00 - 10.00</p>
					</div>
					<div class="col-9">
						<p>Kaffe og croissants.</p>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-3">
						<p>Kl. 10.30 - 10.45</p>
					</div>
					<div class="col-9">
						<p>Europæisk Sprinter lancering. </p>
						<p>Oplev den ny Sprinter blive præsenteret for første gang i Europa.</p>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-3">
						<p>Kl. 11.00 - 12.00</p>
					</div>
					<div class="col-9">
						<p>Tech talk om den ny Sprinter ved Jens Lyngholm.</p>
					</div>
				</div>


				<div class="row mt-3">
					<div class="col-3">
						<p>Kl. 11.30 - 13.15</p>
					</div>
					<div class="col-9">
						<p>Frokost.</p>
						<p>
							Du modtager en sms med information om i hvilket tidsrum du kan hente netop din frokost i madteltet.
						</p>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-3">
						<p>Kl. 13.30 - 13.50</p>
					</div>
					<div class="col-9">
						<p>Tech talk om den ny Sprinter ved Jens Lyngholm.</p>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-3">
						<p>Kl. 16.00 - 17.30</p>
					</div>
					<div class="col-9">
						<p>Afternoon cocktails.</p>
						<p>Vi serverer en lækker eftermiddags cocktail.</p>
					</div>
				</div>

				<p class="mt-5">
					VIP-loungen er åben dagen igennem:
					<ul>
						<li>Følg løbet fra Mercedes-Benz helt egen VIP-tribune</li>
						<li>Slap af i loungemiljø til lækker musik fra DJ</li>
						<li>Is fra Hjem-is-bilen</li>
						<li>Pølser & brød fra madteltet</li>
						<li>Kaffe, fadøl, vand og sodavand fra baren</li>
						<li>Lad dine børn hygge sig i børneområdet med aktiviteter</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>
