<div class="row">
	<div class="col-sm-8 offset-sm-2">
		<div class="row mainContent">
			<div class="col programContainer">
				<h1>
					Program.
				</h1>

				<div class="row" style="margin-bottom: 50px;">
					<div class="col-12">
						<p>
							Glæd dig til nogle gode timer i Vilhelm Lauritzen Terminal:
						</p>
					</div>
				</div>

				<img src="images/flytavle.png" class="topMarign" style="margin-bottom: 50px; width: 100%;">

				<div class="row mt-3">
					<div class="col-3">
						<p class="timestamp">Kl. 17.00</p>
					</div>
					<div class="col-9">
						<p>Velkomst</p>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-3">
						<p class="timestamp">Kl. 17.15</p>
					</div>
					<div class="col-9">
						<p>Produktgennemgang</p>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-3">
						<p class="timestamp">Kl. 17.50</p>
					</div>
					<div class="col-9">
						<p>Sprinter Reveal</p>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-3">
						<p class="timestamp">Kl. 18.00</p>
					</div>
					<div class="col-9">
						<p>Prøvekørsler og tech talks</p>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-3">
						<p class="timestamp">Kl. 18.45</p>
					</div>
					<div class="col-9">
						<p>Evening Buffet</p>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-3">
						<p class="timestamp">Kl. 19.40</p>
					</div>
					<div class="col-9">
						<p>Sidste prøvekørsel</p>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-3">
						<p class="timestamp">Kl. 20.00</p>
					</div>
					<div class="col-9">
						<p>Foredrag med Mikkel Beha</p>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-3">
						<p class="timestamp">Kl. 20.45</p>
					</div>
					<div class="col-9">
						<p>Drinks, DJ og kvalitetstid med Sprinteren</p>
					</div>
				</div>

				<div class="row mt-3">
					<div class="col-3">
						<p class="timestamp">Kl. 22.00</p>
					</div>
					<div class="col-9">
						<p>Tak for i aften</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
