<div class="row">
	<div class="col-sm-8 offset-sm-2">
		<div class="row mainContent">
			<div class="col programContainer">
				<h1>
					Program.
				</h1>

				<div class="row" style="margin-bottom: 50px;">
					<div class="col">
						<p>
							Glæd dig til nogle gode timer i Vilhelm Lauritzen Terminal.
						</p>
					</div>
				</div>

				<img src="images/flytavle.png" class="topMarign" style="margin-bottom: 50px; width: 100%;">

				<div class="row mt-2">
					<div class="col-lg-3 col-5">
						<p class="timestamp">Kl. 17.00</p>
					</div>
					<div class="col-7">
						<p>Ankomst og tjek ind</p>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-lg-3 col-5">
						<p class="timestamp">Kl. 17.10</p>
					</div>
					<div class="col-7">
						<p>Velkomst i Vilhelm Lauritzen Terminal</p>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-lg-3 col-5">
						<p class="timestamp">Kl. 17.30</p>
					</div>
					<div class="col-7">
						<p>Sprinter lancering i hangaren</p>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-lg-3 col-5">
						<p class="timestamp">Kl. 18.15</p>
					</div>
					<div class="col-7">
						<p>Markedsplads med tech talks og prøvekørsel af den ny Sprinter</p>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-lg-3 col-5">
						<p class="timestamp">Kl. 19.00</p>
					</div>
					<div class="col-7">
						<p>Social dining i terminalen</p>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-lg-3 col-5">
						<p class="timestamp">Kl. 20.00</p>
					</div>
					<div class="col-7">
						<p>Foredrag med Mikkel Beha</p>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-lg-3 col-5">
						<p class="timestamp">Kl. 20.45</p>
					</div>
					<div class="col-7">
						<p>Drinks, DJ og kvalitetstid med Sprinteren</p>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-lg-3 col-5">
						<p class="timestamp">Kl. 22.00</p>
					</div>
					<div class="col-7">
						<p>Tak for i aften</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
